<div class="Info">
  <p>Add a quick memo, you're email, and when you want to be notified. We will send you an email with your message
  at the time and date specified to remind you.</p>
</div>
<%=semantic_form_for @note do |f|%>
  <%=f.inputs do %>
     <%=f.input :content%>
     <%=f.input :email%>
     <%=f.input :delivery%>
  <%end%>
  <%=f.buttons%>
<%end%>

