<!DOCTYPE html>
<html>
<head>
  <title>Remind.me</title>
  <%= stylesheet_link_tag "styles" %>
  <%= formtastic_stylesheet_link_tag  %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
      <h1><%=link_to "Remind.me", root_path%></h1>
      <nav>
        <a href='/notes/new'>New Reminder</a>
        </nav>
</header>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
